---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/contact">Contact me</a>
		<h1>Đỗ Nguyên là ai</h1>
		<h2>Sơ yếu lý lịch</h2>
        <p>Tên thật: Đỗ Trọng Phước Nguyên</p>
        <p>Ngày sinh: 23/09/2005</p>
        <p>Nơi sinh: Cần Thơ</p>
	</body>
</html>
